In [20]:
import pandas as pd
import sqlalchemy as sqla
from sqlalchemy import create_engine

sql = '''
SELECT Customer.Lastname, Customer.FirstName, Track.name, Album.title
FROM Customer
    JOIN INVOICE
        ON Customer.CustomerId = Invoice.CustomerId
    JOIN InvoiceLine
        ON Invoice.InvoiceId = InvoiceLine.InvoiceId
    JOIN Track
        ON InvoiceLine.TrackId = Track.TrackId
    JOIN ALBUM
        ON Track.AlbumId = Album.AlbumId
ORDER BY Customer.LastName, Customer.FirstName, Track.name, Album.title'''

db = sqla.create_engine('sqlite:///Chinook.sqlite')
pd.read_sql(sql, db).head(5)

  LastName FirstName                       Name                    Title
0  Almeida   Roberto              Amor De Muito           Afrociberdelia
1  Almeida   Roberto                  Aos Leões               Demorou...
2  Almeida   Roberto  Banditismo Por Uma Questa          Da Lama Ao Caos
3  Almeida   Roberto             Be Good Johnny  The Best Of Men At Work
4  Almeida   Roberto          Burden In My Hand                  A-Sides